.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    align-items: end;
}

.top_btn {
    display: flex;
    gap: 32px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact_form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

.form_control {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form_control input {
    height: 40px;
    padding: 0 8px;
}

.form_control textarea {
    padding: 10px;
}

.form_control label {
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: #fff;
    padding: 0 10px;
    font-size: 14px;
}